:root{
    --dark-blue-color: #1B1B46; 
    --cream-color: #E8D5B5;
    --light-blue-color: #00C5D8;
    --green-color: #00848C;
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.wrapper1{
    max-width: 1120px;
    margin: 0 auto;
}

h1{
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin: 0;
}

h3{
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #00848C;
    margin:0;
}

h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#E8D5B5;
}

h6{
    margin: auto;
    text-align: baseline center;
}
/**Buttons**/
#Talk-to-me-btn{
    background-color: #00848C;
    color: #E8D5B5;
    border-radius: 30px;
    border-width: 0px;
    padding: 18px 102px;
    font-weight: 900;
    font-size: 30px;
    margin-top: 70px;
}

#send-btn{
    background: #00848C;
    color: #00C5D8;
    border-radius: 37px;
    border-style: none;
    width: 220px;
    height: 33px;
    text-align: center;
}

/*Header*/
header{
    height: 120vh;
    background-color: #1B1B46;
    font-family: 'Nunito', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1260px;
    top: 36px;
}

nav .logo{
    font-family: 'Nunito',sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #00C5D8;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 32px; 
    list-style: none;
    margin:0;
}

nav ul li a{
    width: 45px;
    height: 45px;
}


/*Hero section*/
.container{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.margin-box{
    width: 20%;
    height: 570px;
    align-items: center;
    flex-direction: column;
}


.hero-section{
    display: block;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #E8D5B5;
    border-radius: 20px;
    width: 570px;
    height: 570px;
    margin: 227px auto;
    text-align: center;
    padding-top: 20px;
}

#myAvatar{
    border-radius: 50%;
    width: 159.27px;
    height: 215.69px;
    
}

.drag{
    width: 159px;
    height: 60px;
    margin: 0 auto 8px auto;
    text-align: center;
    align-self: end;
    
}

.hero-text{
    margin-top: 15px;
    line-height: 1.5;
}
/**TODO: FIX BUG**/

.reach_list{
    display: inline-block;
    gap: 23px;
    list-style: none;
    margin-top: 150px;
    padding: 0;
}

.reach_list_item{
    width: 70px;
    height: 70px;
    margin-bottom: 23px;
}
/*main page end*/

.body2{
    background-color: #E8D5B5;
}

.wrapper2{
    background: #E8D5B5;
    margin: 0 auto;
    max-width: 1120px;
}

.drag-2{
    width: 159px;
    height: 60px;
    margin: 0px auto 50px auto;
    text-align: center;
    align-self: start;
}
/**skills**/
.Skills{
    margin-bottom: 100px;
}
.skills-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 733.12px;
    margin:auto;

}

.skills-list ul{
    display: flex;
    align-items: center;
    gap: 45px; 
    list-style: none;
    
}

.skills-list ul li a{
    width: 50px;
    height: 50px;
}

/**qualification**/
.Qualification{
    margin-bottom: 100px;
}
.timeline{
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Nunito',sans-serif;
    color: #000000;
}

.timeline_component{
    margin: 0 20px 0 20px;
    height: fit-content;
}

.timeline_date-right{
    text-align: right;
    padding-right: 10px;
    height: fit-content;
}

.timeline_date{
    margin-top: 50px;
    margin-bottom: 0;
}

.timeline_middle{
    position: relative;
    background-color: #00848C;
}

.timeline_point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height:15px;
    background-color: #00848C;
    border-radius: 50%;
}

.timeline_point-bottom{
    top: initial;
    bottom:0;
    margin-bottom: 0;
}

.timeline_paragraph{
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}
.timeline_paragraph-left{
  margin-top: 20px;
}
/**about me**/
.about-me{
    margin-bottom: 50px;
}
.text-box{
    position: relative;
    width: 1200px;
    height: 300px;
}

.wordwrapper {
   text-align: center;
   border-left: 3px solid #00848C;
   border-right: 3px solid #00848C;
   max-width: 800px;
   margin: auto;
}

.word {
    color: #000000;
    letter-spacing: 1px;
    padding: 3px;
    font-family:'Nunito',sans-serif
}

/** contact me**/
.contact-me{
    display: block;
    text-align: center;
}
#Contact-me_text{
    color: #00848C;
    font-weight: 800;
}

input[type=text], [type=email] {
    width: 50%; 
    height: 35px;
    border: 1px solid #00848C; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 3px; 
    resize: vertical;
    align-items: center;
    background-color: #00848C;
    color: rgba(255, 255, 255, 0.7);
 }

 textarea{
    width: 50%;
    border: 1px solid #00848C; 
    border-radius: 4px; /* Rounded borders */
    height: 200px;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    align-items: center;
    background-color: #00848C;
    color: rgba(255, 255, 255, 0.7);
}
input::placeholder{
    font-family: 'Nunito',sans-serif;
    color: rgba(255, 255, 255, 0.7);
    text-align: top left;
    font-weight: 300;
}

textarea::placeholder{ 
    font-family: 'Nunito',sans-serif;
    color: rgba(255, 255, 255, 0.7);
    text-align: top left;
    font-weight: 300;
}

.copyright{
    margin-top: 170px;
    text-align: center;
    align-self: end;
}